.gallery{
    position: relative;
    height: 20em;
    border: 1px black solid;
}
.gallery > img {
    position: absolute;
    width: 10em;
    height: auto;
    transition: 0.4s ease-in;
}
.gallery > img:nth-child(1){
    top: 0;
    left: 0;
}
.gallery > img:nth-child(3){
    top: 0;
    right: 0;
    z-index: 0;
}
.gallery > img:nth-child(2){
    bottom: 0;
    left: 40%;
    z-index: 1;
}
.gallery:hover > img:nth-child(1){
    top: 20%;
    left:20%;
}
.gallery:hover > img:nth-child(3){
    top: 20%;
    right: 20%
}
.gallery:hover > img:nth-child(2){
    bottom: 30%;
}
