.carousel-inner {
  bottom: 70px;
}

.carousel-indicators li {
  background-color: #333;
  width: 2px;
  height: 20px;
  margin: 0 6px;
}

/*voor de map*/
.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.navbar-collapse {
  top: 4em;
  z-index: 1;
  width: 80vw;
  right: 0;
  
}
