img {
  width: 20em;
}
/*.gallery {
  position: relative;
  border: black solid;
}*/
.effect{
  margin-top: 2em;
}
/*.gallery > .effect {
  position: absolute;
  transition: 0.4s ease-in;
}*/
.gallery:hover > .effect {
  margin-top: 0em;
  transition: 0.4s ease-in;
  margin-bottom: 2em;
}
.gallery:hover .valerie, .gallery:hover .jorgo{
  opacity: 1;
  transition: 0.4s ease-in;
}
.valerie{
  opacity: 0.5;
}
.jorgo {
  opacity: 0;
}
